<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
   <link rel="stylesheet" href="../styles/step1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

<nav class="navbar fixed-top navbar-light bg-primary justify-content-between">
  <a class="navbar-header" href="../index.html">
    <img src="../assets/logofacilitemoi.png" width="30%" class="d-inline-block align-top" alt="facilite_moi_logo">
  </a>
  <form class="form-inline">
  <button class="btn btn-outline-light my-2 my-sm-0" href="#"role="button">Sauvegarder</button>
  </form>
</nav>

<nav class="navbar fixed-bottom navbar-default bg-light justify-content-between text-white">
  <a href="../index.html">
    <i class="far fa-arrow-alt-circle-left m-3 "style="font-size:30px;"></i>
  </a>
  <a href="../##">
  <i class="far fa-arrow-alt-circle-right m-3 "style="font-size:30px;"></i>
  </a>

</nav>

    <main role="main">

      <section class="jumbotron">
        <div class="container">
          <h1 class="jumbotron-heading">#1 Comprendre</h1>
          <p class="lead text-muted">Ici un texte de description sur Comprendre ! Qu'est ce que c'est, pourquoi faire ?</p>
        </div>
      </section>

      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">

                <div class="card-header position-absolute bg-success"style="width:100%;">
                  <p class="text-white"> <i class="fas fa-star"></i> Selectionné pour vous :) </p>
               </div>


                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHRRlM0EPdwEQ/profile-displayphoto-shrink_200_200/0?e=1524153600&v=alpha&t=54xyABWnFJsmS4xDeOhFlXW4B_Dtm3h8fXh_Y7LaA3g">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 min</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>


<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
