<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
   <link rel="stylesheet" href="scripts/accueil.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

<nav class="navbar fixed-top navbar-light bg-primary justify-content-between">
  <a class="navbar-header" href="../index.html">
    <img src="../assets/logofacilitemoi.png" width="30%" class="d-inline-block align-top" alt="facilite_moi_logo">
  </a>
  <form class="form-inline">
  <button class="btn btn-outline-light my-2 my-sm-0" href="#"role="button">Sauvegarder</button>
  </form>
</nav>

<nav class="navbar fixed-bottom navbar-default bg-light justify-content-between text-white">
  <a href="../index.html">
    <i class="far fa-arrow-alt-circle-left m-3 "style="font-size:30px;"></i>
  </a>
  <i class="far fa-arrow-alt-circle-right m-3 "style="font-size:30px;"></i>



</nav>



<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
